/* TAILWIND CSS */
@import 'tailwindcss';

/* -------- FONTS -------- */

/* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Mono&display=swap'); */

/* Bebas Neue */
/* @font-face {
  font-family: "Bebas Neue", serif;
  src: url('/fonts/"Bebas Neue", serif/"Bebas Neue", serif-Regular.ttf');
} */

/* Montserrat */
/* @font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
} */

/* ----------------------- */

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body {
  background: #040e1d;
  * {
    scroll-behavior: smooth;
  }
}

* {
  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #373737;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #373737 transparent;
  }
}

/* ----------------- CLOCK ------------------ */

.react-clock {
  display: block;
  position: relative;
}
.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-clock__face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 7px solid #cacaca;
  border-radius: 50%;
}
.react-clock__hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__hand__body {
  position: absolute;
  width: 6px !important;
  border-radius: 20px;
  background-color: #aaaaaa;
  transform: translateX(-50%);
}
.react-clock__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__mark__body {
  display: none;
  position: absolute;
  background-color: #171717;
  transform: translateX(-50%);
}
.react-clock__mark__number {
  position: absolute;
  left: -40px;
  width: 80px;
  text-align: center;
}
.react-clock__second-hand__body {
  background-color: #676767;
}

/* ---------------- CLOCK END -------------------- */

/* ---------------- TYPEWRITER ------------------- */

.typewriter h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.12em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(32, end),
    blink-caret 0.75s step-end infinite 3.5s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* ------------------TYPEWRITER END ------------------ */

/* ------------------ EXPERIENCES START ------------------ */
.timeline-separator-exp {
  transition: 0.2s;
}

.timeline-separator-exp:hover {
  transform: scale3d(1.1, 1.1, 1);
}

/* ------------------ EXPERIENCES END ------------------ */

/* ------------------MUI SELECTOR OVERRIDE START ------------------ */

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.MuiMenu-list {
  background: rgba(37, 37, 37, 0.95) !important;
  color: rgba(255, 255, 255, 0.6) !important;
  outline: none !important;
}

/* ------------------MUI SELECTOR END ------------------ */

/* ------------------ CURVY MOUNTAINS START ------------------ */

.nectar-shape-divider-wrap {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  z-index: 3;
  transform: translateZ(0);
}
.post-area.span_9 .nectar-shape-divider-wrap {
  overflow: hidden;
}
.nectar-shape-divider-wrap[data-position='top'] {
  top: -1px;
  bottom: auto;
}
.nectar-shape-divider-wrap[data-position='top'] {
  transform: rotate(180deg);
}
.nectar-shape-divider-wrap[data-front='true'] {
  z-index: 50;
}
.nectar-shape-divider-wrap[data-style='mountains'] svg path:first-child {
  opacity: 0.1;
}
.nectar-shape-divider-wrap[data-style='mountains'] svg path:nth-child(2) {
  opacity: 0.12;
}
.nectar-shape-divider-wrap[data-style='mountains'] svg path:nth-child(3) {
  opacity: 0.18;
}
.nectar-shape-divider-wrap[data-style='mountains'] svg path:nth-child(4) {
  opacity: 0.33;
}
.nectar-shape-divider {
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 100%;
  position: absolute;
}
@media only screen and (max-width: 999px) {
  .nectar-shape-divider-wrap:not([data-using-percent-val='true'])
    .nectar-shape-divider {
    height: 75%;
  }
}
@media only screen and (max-width: 690px) {
  .nectar-shape-divider-wrap:not([data-using-percent-val='true'])
    .nectar-shape-divider {
    height: 33%;
  }
}

/* ------------------ CURVY MOUNTAINS END ------------------ */
/* ------------------ MAP PINS START ------------------ */

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;
  transform: rotate(-45deg) !important;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg) !important;
  z-index: -2;
}
.pulse:after {
  content: '';
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg) !important;
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg) !important;
  }

  80% {
    transform: translateY(-10px) rotate(-45deg) !important;
  }

  100% {
    transform: translateY(0) rotate(-45deg) !important;
  }
}

/* ------------------ MAP PINS END ------------------ */
/* ------------------ EXP ACCORDION START ------------------ */

.experience-accordion {
  transition: 0.2s;
  /* backdrop-filter: blur(0px); */
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 7px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.experience-accordion:hover:not(.expanded) {
  background: rgba(255, 255, 255, 0.7) !important;
}

.experience-accordion.actual {
  box-shadow:
    rgba(155, 253, 113, 0.2) 0px 0px 7px,
    inset rgba(155, 253, 113, 0.2) 0px 0px 7px;
  border: 1px solid rgba(155, 253, 113, 0.5);
}

.experience-accordion.actual:hover:not(.expanded) {
  background: rgba(155, 253, 113, 0.7) !important;
}
/* ------------------ EXP ACCORDION END ------------------ */
