RewriteEngine On 

ErrorDocument 404 /404/index.html
ErrorDocument 403 /404/index.html
Options -Indexes

RewriteCond %{HTTP_HOST} ^pierre\-godino\.com$
RewriteRule ^/?$ "https\:\/\/www\.creation\-sites\-godino\.fr\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^creation\-sites\-godino\.fr$
RewriteRule ^/?$ "https\:\/\/www\.creation\-sites\-godino\.fr\/" [R=301,L]

