RewriteEngine On 

ErrorDocument 404 /404/index.html
ErrorDocument 403 /404/index.html
Options -Indexes

# Rediriger tout le trafic HTTP vers HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Rediriger pierre-godino.com vers www.pierre-godino.com
RewriteCond %{HTTP_HOST} ^pierre-godino\.com$ [NC]
RewriteRule ^(.*)$ https://www.pierre-godino.com/$1 [R=301,L]

# Rediriger www.pierre-godino.com vers www.creation-sites-godino.fr
RewriteCond %{HTTP_HOST} ^www\.pierre-godino\.com$ [NC]
RewriteRule ^(.*)$ https://www.creation-sites-godino.fr/$1 [R=301,L]

# Rediriger tout autre domaine vers le domaine final www.dr-misino-orthodontie-agen.fr
RewriteCond %{HTTP_HOST} !^www\.creation\-sites\-godino\.fr$ [NC]
RewriteRule ^(.*)$ https://www.creation-sites-godino.fr/$1 [R=301,L]
